/* Estilos para el contenido principal */
.main-content {
  padding: 20px;
}

/* Estilos para la sección del perfil */
.profile-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
