.navbar{
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 575.98px) {
    .navbar-collapse {
      text-align: right;
    }
    .navbar-toggler {
      margin-right: 0;
    }
  }
  