<body>
<h1 class="text-center header py-3">DogoFresh</h1>
   
  <p class="title">Información De Nuestros Servicios</p>

  <section class="services">
      <div class="container">
          <div class="card">
              <h5>Alojamiento de Mascotas</h5>
              <img src="../../../assets/images/services/alojamiento.jpg" alt="Alojamiento de Mascotas">
              <p>Ofrecemos un <span class="highlight">hogar temporal seguro y acogedor</span> para tu perro mientras estás fuera. Nuestro personal calificado se asegurará de que tu mascota se sienta cómoda y feliz.</p>
          </div>

          <div class="card">
              <h5>Cuidado a Domicilio</h5>
              <img src="../../../assets/images/services/cuidadoDomicilio.webp" alt="Cuidado a Domicilio">
              <p>Un cuidador profesional visitará tu hogar para <span class="highlight">cuidar de tu perro</span>, asegurando que se sienta seguro y cómodo en su entorno habitual.</p>
          </div>

          <div class="card">
              <h5>Visitas a Domicilio</h5>
              <img src="../../../assets/images/services/visitasdomicilio.jpg" alt="Visitas a Domicilio">
              <p>Nuestros cuidadores realizan visitas a domicilio para <span class="highlight">alimentar, jugar y pasear a tu perro</span>, brindándole la atención necesaria en tu ausencia.</p>
          </div>

          <div class="card">
              <h5>Guardería de Día</h5>
              <img src="../../../assets/images/services/guardería.jpg" alt="Guardería de Día">
              <p>Deja a tu perro en nuestra guardería durante el día. Proporcionamos un entorno <span class="highlight">seguro y divertido</span> con actividades y cuidados especializados.</p>
          </div>

          <div class="card">
              <h5>Paseo de Perros</h5>
              <img src="../../../assets/images/services/paseo.jpeg" alt="Paseo de Perros">
              <p>Nuestros paseadores de perros se asegurarán de que tu mascota reciba el <span class="highlight">ejercicio diario necesario</span>, disfrutando de paseos divertidos y seguros.</p>
          </div>
      </div>
  </section>
</body>

<!-- Aqui se llama el footer -->
<app-footer></app-footer>