<div class="container-fluid mt-5">
  <div class="row nosotros justify-content-center">
    <div class="col-10 col-md-8 col-lg-8 text-center">
      <img src="../../../assets/images/about-us/nosotros-1.png" alt="bienvenida" width="60%">
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <h3 class="text-center">¿Quiénes Somos?</h3>
    <p class="text-center">
      Somos un equipo de profesionales apasionados por el bienestar animal, conformado por adiestradores,
      cuidadores, expertos en nutrición y comportamiento, que trabajan de manera colaborativa para ofrecer un servicio
      integral y de calidad a nuestros clientes y sus mascotas.
    </p>
  </div>

  <div class="row justify-content-center about m-5 py-4">
    <div class="col-10 col-md-6 col-lg-4 text-center">
      <img src="../../../assets/images/about-us/nosotros-2.png" alt="about-1" width="50%" class="rounded-circle">
    </div>
    <div class="col-10 col-md-6 col-lg-6 text-center">
      <h3 class="text-center">Nuestra Misión</h3>
      <p class="text-center">Nuestra misión es brindar un cuidado integral y compasivo a las mascotas de nuestra
        comunidad,
        asegurando que tengan una vida saludable, feliz y segura junto a sus familias. Creemos que las mascotas son
        miembros invaluables de la familia, y nuestro objetivo es empoderar a los dueños para que puedan brindarles los
        cuidados y el amor que merecen.</p>
    </div>
  </div>

  <div class="row justify-content-center about-2 m-5 py-5">
    <div class="col-10 col-md-6 col-lg-6">
      <h3 class="text-center">Nuestra Visión</h3>
      <p class="text-center">Ser reconocidos como losmejores en brindar servicios de cuidado de mascotas, destacándonos
        por
        nuestra excelencia en atención, educación y apoyo a los propietarios, con el objetivo de fortalecer
        los vínculos entre las mascotas y sus seres queridos.</p>
    </div>
    <div class="col-10 col-md-6 col-lg-4 text-center">
      <img src="../../../assets/images/about-us/nosotros-3.jpg" alt="about-2" width="50%" class="rounded-circle">
    </div>
  </div>

  <div class="row justify-content-center about m-5 py-4">
    <div class="col-10 col-md-6 col-lg-4 text-center">
      <img src="../../../assets/images/about-us/nosotros-4.png" alt="about-3" width="60%" class="rounded-circle">
    </div>
    <div class="col-10 col-md-6 col-lg-6">
      <h3 class="text-center">¿Qué Hacemos?</h3>
      <p class="text-center">Somos una organización dedicada al bienestar integral de las mascotas en nuestra comunidad.
        Nuestro equipo está conformado por profesionales altamente capacitados en diversas áreas relacionadas con el
        cuidado animal:</p>
      <ul>
        <li class="text-center"> Especialistas en comportamiento y adiestramiento, comprometidos con ayudar a los dueños a fortalecer los
          vínculos con sus mascotas.</li>
        <li class="text-center">Cuidadores apasionados que brindan un ambiente seguro y cariñoso durante nuestros servicios de hospedaje y
          guardería.</li>
      </ul>
    </div>
  </div>

  <h2 class="text-center">Contáctanos</h2>
  <div class="row justify-content-center mt-4">
    <div class="col-10 col-md-3 col-lg-3">
      <div class="card p-3">
        <div class="card-body">
          <h5 class="card-title text-center">Teléfonos</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Pueden encontrarnos a través de los siguentes números telefónicos</h6>
          <p class="card-text text-center">0995684715</p>
          <p class="card-text text-center">0990236487</p>
        </div>
      </div>
    </div>
    <hr class="my-3 d-md-none"/>

    <div class="col-10 col-md-3 col-lg-3">
      <div class="card p-3">
        <div class="card-body">
          <h5 class="card-title text-center">Correo Electrónico</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary text-center">Pueden enviarnos mensajes en los siguientes correos</h6>
          <p class="card-text text-center">dogofresh@gmail.com</p>
          <p class="card-text text-center">infodogofresh@gmail.com</p>
        </div>
      </div>
    </div>
    <hr class="my-3 d-md-none"/>

    <div class="col-10 col-md-3 col-lg-3">
      <div class="card p-3">
        <div class="card-body">
          <h5 class="card-title text-center">Redes Sociales</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary text-center">Síguenos en nuestras redes sociales</h6>
          <p class="text-center">Facebook</p>
          <p class="text-center">WhatsApp</p>
          <p class="text-center">Instagram</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Aqui se llama el footer -->
<app-footer></app-footer>              

